body {
  background-color: #f1f1f1;
  font-size: 2em; }

.container {
  text-align: center;
  font-family: sans-serif;
  margin: 160px auto; }

h1 {
  color: #00003c;
  font-weight: 700; }

p {
  color: grey; }

input[type=search] {
  display: block;
  margin: 60px auto;
  padding: 20px;
  width: 50%;
  border: none;
  text-align: center;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  font-size: 16px;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  border: 1px solid white; }

input[type=search]:hover {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }

input[type=search]:focus {
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  outline: none;
  border: 1px solid #4be6f4; }

input[type=button] {
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: #4be6f4;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }

input[type=button]:hover {
  background: #3cb6c2;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }

input[type=button]:focus {
  outline: none;
  background: #3cb6c2;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }
